[Unit]
Description=sync manager service startup script

[Service]
Type=simple
ExecStart=/usr/bin/sync-service
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
