[Unit]
Description=sync manager service startup script

[Service]
Type=simple
ExecStart=/usr/bin/sync-service
Restart=always
RestartSec=1
User=system
Group=system

[Install]
WantedBy=multi-user.target
